<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>My HTML5 Page</title>
    <!-- <link rel="stylesheet" href="../static/styles.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}"> -->
    </head>

    <body>
        <h1>CA - Angiogenesis</h1>
        <p1>Cellular Automata Model of Angiogenesis.</p1>
        <ul>
            <li>List item 1</li>
            <li>List item 2</li>
            <li>List item 3</li>
            </ul>
            <img src="../static/image.png" alt="My Image">
            
        <div>
            <label for="name">Enter your name:</label>
            <input type="text" id="name" name="name" maxlength="20">
            <button id="greet">Push me don't worry</button>
            <output id="result"></output>
            
            <!-- <label for="name"> Enter your name:<label>
            <input type="text" id="name">
            <button onclick="greet()">Push me don't worry</button> -->
        </div>

    
        <script src="../static/script.js"></script>
  </body>
</html>
