<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles.css') }}">
        <!-- <link rel="stylesheet" href="../static/styles.css"> -->
        <title>CA - Angiogenesis</title>
    </head>
    <body>
        <h1> CA - Angiogenesis </h1>
        <p1>Cellular Automata Model of Angiogenesis.</p1>

        <img src="../static/image.png" alt="My Image" id="img">

        <div>
            <canvas id="canvas" width="600" height="600"></canvas>
        </div>
        <script src="{{ url_for('static', filename='animation.js') }}"> 
        // var matrix_list = {{ matrix_list|safe }};
        var matrix_list = [[ [1,2],[2,1]], [[0,3],[3,0]] ];
        console.log(matrix_list);
        </script>
        <form action="" method="POST" name="parameters">
            <label for="tip_cell_p_migrate">Tip Cell Migration Probability:</label>
            <input type="number" id="tip_cell_p_migrate" name="tip_cell_p_migrate"><br>
            
            <label for="attractor_cell_attraction_generated">Attractor Cell Attracion Intensity:</label>
            <input type="number" id="attractor_cell_attraction_generated" name="attractor_cell_attraction_generated"><br>
            
            <label for="stalk_cell_p_sprout">Stalk Cell Sprouting Probability:</label>
            <input type="number" id="stalk_cell_p_sprout" name="stalk_cell_p_sprout" value="0.001"><br>
            
            <label for="attraction_decay_coef">Attraction Decay Coefficient:</label>
            <input type="number" id="attraction_decay_coef" name="attraction_decay_coef"><br>
            
            <label for="attraction_update_precision">Attraction Precision:</label>
            <input type="number" id="attraction_update_precision" name="attraction_update_precision"><br>
            
            <label for="graphics_generations">Number of Generations:</label>
            <input type="number" id="graphics_generations" name="graphics_generations"><br>
            
            <input type="submit" value="Run Simulation">
        </form>

        <!-- <div>
            {% if animation_html %}
            <h2>Simulation Results</h2>
            <iframe srcdoc="{{ animation_html }}" width="800" height="600"></iframe>
            {% endif %}

        </div>
        {% for figure_html in figure_html_list %}
        <div>{{ figure_html|safe }}</div>
        {% endfor %}
               -->
	    <!-- <script type="text/javascript" src="{{ url_for('static', filename='animation.js') }}"></script> -->
        


        <!-- <script src="../static/request_config.js"></script> -->
        <script src="../static/script.js"></script>
        <!-- <script src="../static/params.js"></script> -->

    </body>
</html>